body {
	font-family: Rubik, arial, sans-serif;
	overflow-x: hidden;
	width: 100%;
}

.navbar {
	background-color: black;
	transition: 1s;
}

.navbar.scroll-down {
	background-color: black;
	opacity: 0.7;
}

.nav-link {
	text-transform: uppercase;
	font-weight: 700;
	margin-left: 30px;
	font-size: 15px;
	color: white !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.nav-link:hover, .nav-link.active {
	color: #ffc107 !important;
}

.navbar-brand {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.jumbotron {
	height: 600px;
	background-attachment: fixed;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	position: relative;
	background-position: 83% 100%;
	background-repeat: no-repeat;
}

.jumbotron::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	bottom: 0;
	opacity: 0.3;
}

.jumbotron .container {
	position: relative;
	z-index: 1;
	margin-top: 150px;
}

.jumbotron .container .row {
	margin-top: 30px;
	color: white;
}

.jumbotron span {
	font-weight: 500;
	font-size: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.jumbotron h1 {
	padding-top: -10px;
	font-weight: 700;
	font-size: 60px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.jumbotron a {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	color: black;
	margin: 0 5px;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

section {
	padding: 60px 0;
}

section h1 {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	font-weight: 700;
	margin-bottom: 60px;
}

/* About */
.about span {
	font-weight: 700;
}

.about h6 {
	font-size: 18px;
}

.about p {
	font-weight: 300;
}

/* Expertise Info */
.expertise-info {
	background-color: #eee;
}

.expertise-info ul {
	list-style: none;
	width: 90%;
}

.expertise-info ul li {
	margin: 20px 0;
}

.expertise span{
	font-weight: 300;
}

.info {
	border: 0;
	background-color: rgba(250, 250, 250, 0.7);
}

.info .card-title {
	font-weight: 700;
	text-transform: uppercase;
}

.info i {
	position: relative;
	bottom: -7px;
}

.info .btn {
	font-weight: 700;
	color: white;
}

.info {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (min-width: 992px) {

	.navbar {
		background-color: transparent;
	}

	.jumbotron {
		height: 725px;
		background-position: center 10%;
	}

	.expertise-info ul {
		width: 100%;
	}

	.nav-link:hover {
		color: white !important;
		margin-bottom: -10px;
	}

	.nav-link.active {
		margin-bottom: -10px;
	}

	.nav-link:hover::after, .nav-link.active::after {
		content: '';
		border-bottom: 3px solid #ffc107;
		display: block;
		width: 50%;
		margin: 0 auto;
		border-radius: 5px;
	}

}

